## Pandas Short In-Class Activity

In [45]:
#import pandas and numpy

import pandas as pd
import numpy as np

##### Pandas Series

Task 1: Create a Pandas Series from the following list: [100, 200, 300, 400, 500]. Assign it to a variable named my_series and print it.

In [46]:
my_series = pd.Series([100, 200, 300, 400, 500])
my_series

0    100
1    200
2    300
3    400
4    500
dtype: int64

Task 2: Print the series

In [47]:
print(my_series)

0    100
1    200
2    300
3    400
4    500
dtype: int64

Task 3: Give your series a name and print it

In [48]:
my_series.name = 'mySeries'
my_series

0    100
1    200
2    300
3    400
4    500
Name: mySeries, dtype: int64

Task 4: Check your data structure type (hint:type)

In [49]:
print(type(my_series)) #type of the series
my_series.dtype #type in the series

<class 'pandas.core.series.Series'>

dtype('int64')

Task 5: Print values of series only and check values structure type

In [50]:
my_series.values

array([100, 200, 300, 400, 500], dtype=int64)

Task 6: Print values of 4 and 6 index of your series

In [51]:
my_series[4]
#my_series[6] we dont have any value in 6th index

500

Task 7: Give your series custom index and print it

In [52]:
my_series.index = [
    1,2,3,4,5
]
my_series

1    100
2    200
3    300
4    400
5    500
Name: mySeries, dtype: int64

Task 8: Create a series which should contain index, values, and name (hint: use dictionary)

In [53]:
my_series=pd.Series({
    1: 100,
    2: 200,
    3: 300,
    4: 400,
    5: 500
}, name='My Series')
my_series

1    100
2    200
3    300
4    400
5    500
Name: My Series, dtype: int64

Task 9: Print values from 0 to 3

In [54]:
my_series.iloc[0:3]

1    100
2    200
3    300
Name: My Series, dtype: int64

Task 10: Print value of your index 3 of dictionary

In [55]:
my_series.loc[3]

300

Task 11: Print values from 1 to 4 using iloc

In [56]:
my_series.iloc[1:4]

2    200
3    300
4    400
Name: My Series, dtype: int64

Task 12: Take mean and std of your series

In [57]:
_mean = my_series.mean()
_std = my_series.std()

print (f'The mean is {_mean} and Standard Deviation is {_std} ')

The mean is 300.0 and Standard Deviation is 158.11388300841898

Task 13: Multiple your series with 2

In [58]:
my_series * 2

1     200
2     400
3     600
4     800
5    1000
Name: My Series, dtype: int64

Task 14: Update value of index 1

In [59]:
my_series[1] = 1920
my_series

1    1920
2     200
3     300
4     400
5     500
Name: My Series, dtype: int64

Task 15: write the output of this logic -2:-4:-1

In [60]:
my_series[-2:-4:-1]
#slicing backwards from second last index with 1 step till -2

4    400
3    300
Name: My Series, dtype: int64

<div style="text-align: center; margin: 20px 0; font-size: 24px;">
    <strong>Good luck!</strong>
</div>